---

---

   <footer class="site-footer">
    <address id="hcard-Frederick-Yocum" class="vcard">
     <a
      id="footer-icon"
      href="https://frederickyocum.com/"
      title="More on my website."
     >
      <svg class="fy-site-icon">
       <use xlink:href="#swallow"></use>
      </svg>
     </a>
     <span class="footer-text">
      <span class="given-name">Frederick</span>
      <span class="family-name">Yocum</span>
     </span>
     <div class="social-links">
      <a href="#masthead" title="To the top of the page.">
       <svg class="fy-site-icon">
        <use xlink:href="#top"></use>
       </svg>
      </a>
      <a href="https://twitter.com/frederickyocum" title="Find me on TXitter.">
       <svg class="fy-site-icon">
        <use xlink:href="#twitter"></use>
       </svg>
      </a>
      <a
       href="https://www.linkedin.com/in/frederickyocum/"
       title="Find me on Linkdin."
      >
       <svg class="fy-site-icon">
        <use xlink:href="#linkedin"></use>
       </svg>
      </a>
      <a
       href="https://www.instagram.com/frederickdyocum/"
       title="Find me on Instagram."
      >
       <svg class="fy-site-icon">
        <use xlink:href="#instagram"></use>
       </svg>
      </a>
     </div>
    </address>
   </footer>
