---

---
<header id="masthead">
   <!-- The is the icon that sits at the top of the pages on the website. -->
   <a
    href="https://frederickyocum.com/"
    class="brand-logo-link"
    title="Go to home page."
   >
    <svg id="brand-logo">
     <use xlink:href="#swallow"></use>
    </svg>
   </a>
   <div class="brand-sig">
    <a href="https://frederickyocum.com/">
     <svg id="frederickname">
      <use xlink:href="#name"></use>
     </svg>
    </a>
   </div>

   <!-- Primary Navigation -->
   <nav id="nav-main">
    <ul>
     <li>
      <a href="https://frederickyocum.com/art/" class="nav-Art">
       <svg class="fy-site-icon">
        <use xlink:href="#art"></use>
       </svg>
       <span class="nav-text">Art</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/design/" class="nav-Design">
       <svg class="fy-site-icon">
        <use xlink:href="#design"></use>
       </svg>
       <span class="nav-text">Design</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/writing/" class="nav-Writing">
       <svg class="fy-site-icon">
        <use xlink:href="#writing"></use>
       </svg>
       <span class="nav-text">Write</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/info/" class="nav-About">
       <svg class="fy-site-icon">
        <use xlink:href="#info"></use>
       </svg>
       <span class="nav-text">Info</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/contact/" class="nav-Contact">
       <svg class="fy-site-icon">
        <use xlink:href="#contact"></use>
       </svg>
       <span class="nav-text">Contact</span>
      </a>
     </li>
    </ul>
   </nav>
   <!--End of nav-main -->
  </header>
  <!-- End of masthead-->