---

---
<header id="masthead">
   <!-- The is the icon that sits at the top of the pages on the website. -->
   <a
    href="https://frederickyocum.com/"
    class="brand-logo-link"
    aria-label="Go to home page."
   >
    <svg id="brand-logo">
     <use xlink:href="#swallow"></use>
    </svg>
   </a>
   <div class="imprint">
    <a href="https://frederickyocum.com/">
     <svg class="frederickyocum">
      <use xlink:href="#imprint"></use>
     </svg>
    </a>
   </div>
   <!-- Primary Navigation -->
   <nav id="nav-main" aria-label="primary">
    <ul>
     <li>
      <a href="https://frederickyocum.com/art/" class="nav-art">
       <svg class="fy-site-icon">
        <use xlink:href="#art"></use>
       </svg>
       <span class="nav-text">Art</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/design/" class="nav-design">
       <svg class="fy-site-icon">
        <use xlink:href="#design"></use>
       </svg>
       <span class="nav-text">Design</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/writing/" class="nav-writing">
       <svg class="fy-site-icon">
        <use xlink:href="#writing"></use>
       </svg>
       <span class="nav-text">Write</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/info/" class="nav-about">
       <svg class="fy-site-icon">
        <use xlink:href="#info"></use>
       </svg>
       <span class="nav-text">Information</span>
      </a>
     </li>
     <li>
      <a href="https://frederickyocum.com/contact/" class="nav-contact">
       <svg class="fy-site-icon">
        <use xlink:href="#contact"></use>
       </svg>
       <span class="nav-text">Contact</span>
      </a>
     </li>
     <li>
       <a href="https://frederickyocum.com/art/" class="nav-ephemera">
        <svg class="fy-site-icon">
         <use xlink:href="#ephemera"></use>
        </svg>
        <span class="nav-text">Emphemera</span>
       </a>
      </li>
    </ul>
   </nav>
   <!--End of nav-main -->
  </header>
  <!-- End of masthead-->